appnope==0.1.0
decorator==4.0.6
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.9.1
gnureadline==6.3.3
gunicorn==19.4.5
ipython==4.0.2
ipython-genutils==0.1.0
Markdown==2.4.1
MarkupSafe==0.23
oauthlib==1.0.3
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
psycopg2==2.6.1
ptyprocess==0.5
PyJWT==1.4.0
python-decouple==3.0
python-openid==2.2.5
python-social-auth==0.2.14
requests==2.9.1
requests-oauthlib==0.6.0
simplegeneric==0.8.1
six==1.10.0
static3==0.6.1
traitlets==4.1.0
ujson==1.35
Unipath==1.1
wheel==0.24.0
whitenoise==2.0.6
