{% extends 'base.html' %}

{% block head %}
    <link href="{{ STATIC_URL }}css/cover.css" rel="stylesheet">
{% endblock head %}

{% block body %}
    <div class="row">
        <div class="cover col-md-6">
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="signup">
                <h2>Sign up</h2>
                <form action="{% url 'signup' %}" method="post" role="form">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="form-group{% if field.errors %} has-error{% endif %}">
                            <label for="{{ field.label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.help_text %}
                                <span class="help-block">{{ field.help_text|safe }}</span>
                            {% endif %}
                            {% for error in field.errors %}
                                <label class="control-label">{{ error }}</label>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    <button type="submit"
                            class="btn btn-default sign_in_button square-label">Create an account</button>
                    <a href="{% url 'login' %}" class="btn btn-link">Sign in</a>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
